
@charset "utf-8";

body {
	font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
		メイリオ, sans-serif;
	font-size: 15px;
	line-height: 1.6;
}

input, select, textarea {
	font-size: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:hover,
button:hover {
	opacity: 0.7;
}


/* header */
header {
	padding: 20px;
}

header .table {
	display: table;
}

header .logo {
	display: table-cell;
}

header .logo img {
	width: 50px;
}

header .manual-name {
	padding-left: 10px;
	font-size: 26px;
	display: table-cell;
	vertical-align: middle;
}


#wrapper {
	padding-left: 400px;
	position: relative;
}

#icon-bar {
	width: 70px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1000;
	overflow-y: auto;
	padding: 10px;
	box-sizing: border-box;
	background: #fff;
}

.bar-wrap {
	height: 100%;
	position: relative;
}

.manualLogo {
	position: absolute;
	top: 0;
	width: 50px;
}

.logout {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.bar-wrap img {
	width: 100%;
}

#menu-bar {
	width: 320px;
	position: fixed;
	top: 0;
	left: 70px;
	bottom: 0;
	z-index: 1000;
	background: #dadada;
	overflow-y: auto;
}

#menu-bar #gNavi {
	background: #32B5A6;
}

#menu-bar #gNavi > li > a{
	color: #fff;
}

#menu-bar .navChild {
	background: #49505A;
}

#menu-bar .navChild a {
	color: #fff;
}

#menu-bar li a{
	color: #fff;
	font-weight: bold;
	padding: 7px 25px;
	display: block;
}

#menu-bar li div {
	color: #fff;
	font-weight: bold;
	padding: 7px 25px;
	display: block;
	padding-right:35px;
}

#menu-bar li div span {
	display: block;
	overflow: hidden;
	white-space: nowrap;
}


#menu-bar .has-sub div{
	background: url('../../img/admin/ico_open.png') 95% no-repeat;
}

#menu-bar .has-sub.open div{
	background: url('../../img/admin/ico_close.png') 95% no-repeat;
}

#menu-bar .has-sub img {
	vertical-align: middle;
	padding-right: 10px;
}

#menu-bar .login-id {
	font-weight: bold;
	padding: 7px 25px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	color: #fff;
	background: #49505A;
}

/* #menu-bar li a:hover,
#menu-bar li a.on {
	background: #999;
	border-left: 4px solid #555;
	padding-left: 21px;
} */

#menu-bar ul.navChild a {
	padding-left: 50px;
}

/* #menu-bar ul.navChild a.on,
#menu-bar ul.navChild a:hover {
	padding-left: 46px;
}
 */
#main-contents {
	padding: 0px 30px;
	margin: 20px 0;
	min-width: 960px;
	box-sizing: border-box;
}


/* footer */
footer {
	margin-top: 20px;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	color: #fff;
	text-align: center;
	background: #303030;
	bottom: 0;
}

footer a {
	color: #fff;
}


/* page title */
h1 {
	font-size: 26px;
	margin: 0 0 20px;
}

.sub-title {
	display: block;
}


/* other titles */
h2 {
	font-size: 18px;
	margin: 20px 0 0;
	padding: 10px;
	background: #33475c;
	color: #FFFFFF;
}

h3 {
	font-size: 18px;
	margin: 20px 0 0;
	border-bottom: 1px solid #dadada;
}

h4 {
	margin: 10px 0;
}

.ttl_menu {
	position: relative;
	width: 100%;
	margin-top: 20px;
}

.ttl_menu > li {
	float: left;
	width: 50%;
	background: #dadada;
	position: relative;
}

.ttl_menu > li.w1_3 {
	width: 33.33%;
	border-left: 1px solid #fff;
	box-sizing: border-box;
}

.ttl_menu > li.current {
	background: #33475c;
}

.ttl_menu > li a {
	display: block;
	color: #000;
	padding: 10px;
}

.ttl_menu > li.current > a {
	color: #fff;
}

.ttl_menu > li a > span {
	background: url("../../img/admin/ico_down.png") no-repeat;
	background-position: right center;
	background-size: 10px;
	padding-right: 20px;
}

.ttl_menu > li:hover ul.menu_second {
	top: 44px;
	visibility: visible;
	opacity: 1;
}

.ttl_menu > li ul.menu_second {
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	position: absolute;
	top: 40px;
	width: 100%;
	background: #dadada;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.ttl_menu > li ul.menu_second li {
	border-top: 1px solid #fff;
}

.ttl_menu > li ul.menu_second li.current {
	background: #33475c;
}

.ttl_menu > li ul.menu_second li a:hover {
	background: #555;
	color: #fff;
}

.ttl_menu > li ul.menu_second li.current a {
	color: #fff;
}

.ttl_menu:before,
.ttl_menu:after {
	content: " ";
	display: table;
}

.ttl_menu:after {
	clear: both;
}

/* breadcrumbs */
.breadcrumbs {
	margin-bottom: 5px;
}

.breadcrumbs a {
	color: #0078e7;
	text-decoration: underline;
}

/* help_contents */
.help_contents {
	background: #f2f2f2;
    padding: 10px 20px 20px 20px;
}

.help_contents h2 {
	margin-bottom: 20px;
}

/* font */
p {
	margin: 20px 0 0;
}

.text-focus {
	font-size: 18px;
}

.text-addition {
	font-size: 12px;
}

label + .text-addition {
	margin: 0;
}

em {
	text-decoration: none;
	font-weight: bold;
	color: #D03531;
	font-style: normal;
}

/* section */
.section {
	margin: 20px 0 0;
}

	.section ul li {
	    list-style-type: disc;
	    margin-left: 3em;
	}

.section-area {
	margin: 20px 0 0;
}

.section-head {
	margin-bottom: 5px;
	padding: 5px;
	background: #dadada;
}

.section-area li {
	list-style-type: disc;
	margin-left: 17px;
}

/* section success */
.section-area.success .section-head {
	color: #fff;
	background: #67c100;
}

.success {
	color: #67c100;
}

/* section error */
.section-area.error .section-head {
	color: #fff;
	background: #ec4b46;
}

.error {
	color: #ec4b46;
}


/* centering */
.cont-center {
	margin: 20px auto 0;
	display: block;
	text-align: center;
}

/* text-align */
.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}


/* small button */
.btn-small {
	color: #fff !important;
	background: #0078e7;
	padding: 5px;
	border-radius: 2px;
}